{% extends 'users/base.html' %}
{% block title %}User Profile - Your Website{% endblock %}
{% block content %}
    <h2>User Profile</h2>
    <p>Welcome, {{ user.username }}!</p>
    <p>phone_number, {{ user.phone_number }}!</p>
    <p>confirmation_code, {{ user.confirmation_code }}!</p>
    <p>invite_code, {{ user.invite_code }}!</p>
    {% for user in user.invited_users %}
    <p>Welcome, {{ user.invited_users }}!</p>
    {% endfor %}
    <!-- Дополнительная информация о пользователе -->
{% endblock %}